body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(39, 39, 39); /* Pour un style Pong classique */
}

canvas {
	border: 2px solid white; /* juste pour voir les bords */
	background-color: #000;
	}
