@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	a {
	}
}

@layer components {
	.dash {
		@apply bg-[linear-gradient(180deg,var(--color-white)_95%,var(--color-amber-400)_95%)] mt-4 mx-4
		ring-2 ring-amber-400 rounded-xl p-4 flex items-center justify-between shadow-lg duration-300
		hover:-translate-0.5 hover:shadow-2xl hover:bg-[linear-gradient(180deg,var(--color-orange-50)_95%,var(--color-amber-400)_95%)];
	}
}

@layer components {
	.btn {
		@apply  /* Mobile */
			bg-amber-500 text-white text-center py-3
			rounded-lg cursor-pointer block mt-10 duration-300

			/* Desktop */
			md:bg-linear-to-r md:from-amber-400 md:via-amber-500 md:to-amber-600
			md:py-4

			/* Hover */
			hover:bg-gray-700
			md:hover:from-transparent md:hover:via-transparent md:hover:to-transparent;
	}
}

@layer components {
	.error {
		@apply ring-red-500 ring-2;
	}
}

@layer components {
	.Wood {
		@apply mx-auto w-auto text-orange-900 bg-linear-to-br from-orange-800 via-amber-700 to-yellow-800 font-medium text-5xl hover:-translate-0.5 duration-300 mt-2 px-2 py-2 border-2 border-amber-700 rounded-4xl shadow-xl;
	}
}

@layer components {
	.Iron {
		@apply mx-auto w-auto text-neutral-900 bg-linear-to-br from-neutral-700 via-neutral-500 to-neutral-800 font-medium text-5xl hover:-translate-0.5 duration-300 mt-2 px-2 py-2 border-2 border-neutral-500 rounded-4xl shadow-xl;
	}
}

@layer components {
	.Bronze {
		@apply mx-auto w-auto text-amber-900 bg-linear-to-br from-yellow-700 via-amber-600 to-orange-700 font-medium text-5xl hover:-translate-0.5 duration-300 mt-2 px-2 py-2 border-2 border-amber-600 rounded-4xl shadow-xl;
	}
}

@layer components {
	.Silver {
		@apply mx-auto w-auto text-gray-900 bg-linear-to-br from-gray-200 via-white to-gray-300 font-medium text-5xl hover:-translate-0.5 duration-300 mt-2 px-2 py-2 border-2 border-white rounded-4xl shadow-xl;
	}
}

@layer components {
	.Gold {
		@apply mx-auto w-auto text-center text-yellow-900 bg-linear-to-br from-amber-400 via-yellow-500 to-amber-600 font-medium text-5xl hover:-translate-0.5 duration-300 mt-2 px-2 py-2 border-2 border-yellow-500 rounded-4xl shadow-xl;
	}
}

@layer components {
	.Champion {
		@apply mx-auto w-auto text-purple-900 bg-linear-to-br from-purple-600 via-violet-500 to-fuchsia-600 font-medium text-5xl hover:-translate-0.5 duration-300 mt-2 px-2 py-2 border-2 border-violet-500 rounded-4xl shadow-xl;
	}
}

@layer components {
	.stat {
		@apply bg-[linear-gradient(180deg,var(--color-amber-50)_95%,var(--color-amber-400)_95%)]
				h-1/3 text-3xl hover:-translate-1 duration-300 text-amber-900 rounded-xl pt-4 mx-2 my-2 ring-4 ring-amber-400
				shadow-xl hover:bg-[linear-gradient(180deg,var(--color-orange-50)_95%,var(--color-amber-400)_95%)] hover:shadow-2xl;
	}
}

@layer components {
	.input {
		@apply bg-amber-300/20 dark:bg-amber-950/30 rounded-md w-80 duration-300
				focus:ring-amber-500 ring-amber-300 ring-1 focus:ring-2 focus:outline-none
				px-2 py-1 text-sm text-orange-900 dark:text-white shadow-xs placeholder-amber-800/80;
	}
}

@utility flex-centered {
	@apply flex justify-center items-center;
}


@layer utilities {
	.scrollbar-none::-webkit-scrollbar {
    	display: none;
  	}

	.scrollbar-none {
    	scrollbar-width: none; /* Firefox */
	}

	.scrollbar-custom {
		scrollbar-width: thin; /* Firefox */ 
		scrollbar-color: #d97706 #fef3c700; /* thumb / track amber-100/80 */
	}
  
	.scrollbar-custom::-webkit-scrollbar {
		width: 10px;
	} 
}
