@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	a {
	}
}

@layer components {
	.dash {
		@apply w-full max-w-3xl mx-auto bg-gray-800 text-white rounded-xl p-4 flex items-center justify-between shadow-lg;
	}
}

@layer components {
	.btn {
		@apply  /* Mobile */
			bg-amber-500 text-white text-center py-3
			rounded-lg cursor-pointer block mt-10 duration-300

			/* Desktop */
			md:bg-linear-to-r md:from-amber-400 md:via-amber-500 md:to-amber-600
			md:py-4

			/* Hover */
			hover:bg-gray-700
			md:hover:from-transparent md:hover:via-transparent md:hover:to-transparent;
	}
}

@layer components {
	.error {
		@apply ring-red-500 ring-2;
	}
}

@layer components {
	.input {
		@apply bg-amber-300/20 dark:bg-amber-950/30 rounded-md w-80 duration-300
				focus:ring-amber-500 ring-amber-300 ring-1 focus:ring-2 focus:outline-none
				px-2 py-1 text-sm text-orange-900 dark:text-white shadow-xs;
	}
}

@utility flex-centered {
	@apply flex justify-center items-center;
}